.manager-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: var(--erp-layout);
}

.manager-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: var(--erp-bg);
  color: var(--erp-text);
}

.manager-inner {
  padding: 25px;
  min-height: calc(100vh - 70px);
}
