.technical-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: var(--erp-layout);
}

.technical-main {
  flex: 1;
  margin-left: 17rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.technical-content {
  padding: 25px;
  flex: 1;
  background: var(--erp-bg);
  color: var(--erp-text);
}
